* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja {
    border: solid black;
    height: 200px;
    width: 200px;
    margin: 20px;
}

#particular1{
    background-color: aqua;
}

#particular2{
    background-color: red;
    
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: wrap;
    border: solid red;
    height: 100vh;
}